{% extends 'app_users/base.html' %}

{% block title %}
    Detail order
{% endblock %}

{% block body %}
    <h1>Order #{{ order.id }}</h1>
    <div>
        <p>Address: {{ order.delivery_address }}</p>
        <p>Promocode: {{ order.promocode }}</p>
        <p>Date Created: {{ order.created_at }}</p>
        <p>username: {{ order.user.username }}</p>
        {% if order.products.all %}
            <ul>
                {% for product in order.products.all %}
                    <li>Product: {{ product.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            Not products for order
        {% endif %}
    </div>
{% endblock %}