<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Продажа домашних заданий Skillbox</title>
</head>
<body>
    <h1>
        Прошел все курсы на SkillBox. Продаю готовые домашние задания:
    </h1>
    <ul>
        <li>
            <a href="http://localhost:8000/java">
                Java Development
            </a>
        </li>
        <li>
            <a href="http://localhost:8000/python_basic">
                Python Basic
            </a>
        </li>
        <li>
            <a href="http://localhost:8000/django_frame">
                Django Framework
            </a>
        </li>
        <li>
            <a href="http://localhost:8000/motion">
                Motion Design
            </a>
        </li>
        <li>
            <a href="http://localhost:8000/web_layout">
                Web-Верстка
            </a>
        </li>
    </ul>
</body>
</html>