<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Домашние задания Python Basic</title>
</head>
<body>
    <h1>
        Готовые домашние задания по курсу Web-Верстка
    </h1>
    <ul>
        <li>
            1 модуль = 500 рублей
        </li>
        <li>
            Пакет(5 модулей) = 1500 рублей
        </li>
        <li>
            Пакет(10 модулей) = 2500 рублей
        </li>
    </ul>
    <a href="http://localhost:8000/start_page/">
        Вернуться на главную
    </a>
</body>
</html>